<header>
  <div class="container header-container">
    <div class="logo-memi">
      <a href="index.html">
        <img src="img/logos/Memi_short.png" alt="Logo Centro MEMI">
      </a>
    </div>

    <button class="menu-toggle" aria-label="Abrir menú">☰</button>

    <nav class="nav-menu">
      <ul>
        <li><a href="#mvv">Misión / Visión / Valores</a></li>
        <li><a href="#about">Acerca de</a></li>
        <li><a href="#courses">Cursos / Seminarios</a></li>
        <li><a href="#publications">Publicaciones</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><a href="#icpc">ICPC UMSS</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </nav>

    <div class="logo-umss">
      <img src="img/logos/Umss_long.png" alt="Logo UMSS - Facultad de Ciencias y Tecnología">
    </div>
  </div>
</header>
